*.Brewfile.lock.json
*.DS_Store
*.idea
/.CFUserTextEncoding
/.NERDTreeBookmarks
/.Trash
/.aws
/.bundle/cache
/.cache
/.cargo
/.config/gh
/.config/iterm2
/.config/karabiner
/.cups
/.dlv
/.docker
/.fzf*
/.gem
/.golang
/.irb_history
/.lesshst
/.local
/.m2
/.npm
/.pyenv
/.rbenv
/.solargraph
/.ssh
/.tig_history
/.vim/autoload/plug.vim
/.vim/plugged
/.vim/undo
/.viminfo
/.yarnrc
/.zcompdump
/.zprofile
/.zsh_history
/.zsh_sessions
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/code
vendor/bundle
